/* style.css */
/* Reset some default browser styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row; /* Make content and sidebar side-by-side */
}

.sidebar {
    background-color: #0c3ee3;
    color: #fff;
    width: 250px;
    min-height: 130vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 17px;
    padding: 10px;
    transition: background-color 0.3s;
}

.sidebar a.active {
    background-color: #007BFF;
}

.content {
    flex: 1;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Add more styling for the chart or data visualization as needed */
/* dashboard.css */
/* ... (existing styles) ... */

.content {
    margin-left: 250px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: right; 

}

.image-container {
    margin: 10px 0;
    
}

.image-container img {
    max-width: 90%; /* Make sure the image doesn't exceed its container */
    height: auto;
     /* Maintain the image's aspect ratio */
}
